<div class="PhotoWrapper">
    <div [class]="Active ? 'DropDownWrapper DropDownWrapperHover' : 'DropDownWrapper'">
        <div class="DropDown" (drop)="onDrop($event)" (dragover) = "onDragOver($event)" (dragenter)="onDragEnter($event)" (dragleave)="onDragLeave($event)" >
            <div class="Image"><i class="fas fa-images"></i></div>
            <div class="Text">
                <p>Drop your images here, or <span class="word">browse</span></p>
            </div>
            <div class="Formats">
                <p>Supports: JPG, PNG</p>
            </div>
        </div>
        <div [class]="Active ? 'ProgressBarWrapper ProgressBarWrapperHover' : 'ProgressBarWrapper'">
            <div [class]="Active ? 'Header HeaderHover' : 'Header'">
                <div class="InitialDiv">
                    <div class="Upload"><p>Uploading...</p></div>
                    <div class="Status">
                        <p><span>50%</span> : <span>8</span> seconds left</p>
                    </div>
                </div>
                <div class="FinalDiv">
                    <div class="BtnGroup">
                        <div class="Btn play-pause"><i class="fas fa-play"></i></div>
                        <div class="Btn cancel"><i class="fas fa-times"></i></div>
                    </div>
                </div>
            </div>
            <div [class]="Active ? 'Footer FooterHover' : 'Footer'"></div>
        </div>
    </div>
    <div class="PreviewWrapper">
        <div class="test" draggable="true" (dragstart)="onDragStart($event)" (dragend)="onDragEnd($event)"></div>
    </div>
</div>
