/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  #PhotoWrapper {
    width: 100%;
    height: 100%;
    background-color: #e9f3fe;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #DropDownWrapper {
    width: 70%;
    height: 55%; /*35% */
    border-radius: 25px; 
    background-color: #fff;
    padding: 35px;
    transition: height 0.8s ease-in-out;
  }
  /* #DropDownWrapper:hover{
    height: 55%;
  }
  #DropDownWrapper:hover .fa-images{
    font-size: 85px;
  }
  #DropDownWrapper:hover #ProgressBarWrapper{
    height: 35%;
  } */
  #ProgressBarWrapper {
    width: 100%;
    height: 35%;
    background-color: #c1cfddcc;
    margin-top: 20px;
    border-radius: 8px;
    transition: height 0.8s ease-in-out;
  }
  #DropDown {
    width: 100%;
    height: 16rem;
    border: 3px dashed black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  /* #PreviewWrapper {
    width: 70%;
    height: 45%;
    border-radius: 15px;
  } */
  #Image {
    display: block;
    margin-bottom: 15px;
    transition: all 0.8s ease-in-out;
  }
  .fa-images {
    font-size: 65px;
    color: red;
    transition: font-size 0.8s ease-in-out;
  }
  #Text {
    width: 50%;
    height: auto;
    display: inline-block;
    color: #000;
    font-size: 22px;
    text-align: center;
    margin-bottom: 8px;
  }
  #word {
    color: blue;
    font-weight: 600;
    cursor: pointer;
  }
  #word:hover {
    text-decoration: underline;
  }
  #Formats {
    font-size: 15px;
    color: #000;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
}
