<div id="Grid">
  <ng-container *ngFor="let item of Array">
    <div
      [ngStyle]="{
        overflow: 'hidden',
        width: '100%',
        'background-color': item.color,
        height: '100%',
        'grid-area': item.Ind,
        position: 'relative',
        display: 'block'
      }"
    >
      <div id="PhotoWrapper">
        <div
          *ngFor="let photo of photos"
          [ngStyle]="{
            width: '100%',
            height: '100%',
            'border-radius': '50%',
            'background-color': photo,
            position: 'relative'
          }"
        ></div>
      </div>
    </div>
  </ng-container>
</div>
