<div id="Grid">
  <ng-container *ngFor="let item of Array">
    <div
      [ngStyle]="{
        overflow: 'hidden',
        width: '100%',
        height: '100%',
        'grid-area': item.Ind,
        position: 'relative',
        display: 'block'
      }"
    >
      <div
        #Picture
        [ngStyle]="getDimension(item.photos.length)"
      >
        <div
          *ngFor="let photo of item.photos"
          [ngStyle]="{
            width: '100%',
            height: '100%',
            'background-color': photo,
            position: 'relative'
          }"
        ></div>
      </div>
    </div>
  </ng-container>
</div>
